*
  box-sizing: border-box

body
  position: relative
  min-width: 320px

a
  text-decoration: none
  color: inherit

  &:active, &:focus, &:hover
    color: inherit

ul
  list-style-type: none
  padding: 0
  margin: 0

.grid-container
  max-width: 85rem

.top-line
  display: block
  margin-top: 120px
  margin-bottom: 70px
  height: 17px
  background-color: $light_grey

.bottom-line
  display: block
  margin-top: 55px
  height: 45px
  background-color: $black

.owl

  &-dots
    position: absolute
    display: flex
    justify-content: space-between
    bottom: 50px
    left: 9%
    width: 340px

  &-dot
    background-color: $white !important
    width: 40px
    height: 2px
    opacity: 0.2 !important
    z-index: 1 !important

.owl-dot.active
  background-color: $white !important
  opacity: 1 !important
