.dropshipping

  &-title
    font-family: Russo One
    font-style: normal
    font-weight: normal
    font-size: 35px
    line-height: 40px
    margin-bottom: 50px

  &-wrapper
    display: flex
    justify-content: space-between

  &-menu

    &-item

      &:hover, &:focus
        color: $black
        background-image: url(/image/menu-arrow-black.svg)
        background-color: $light_grey

      &:active
        color: $white
        background-image: url(/image/menu-arrow-white.svg)
        background-color: $blue
