.footer

  &-wrapper
    display: flex
    justify-content: space-between

  &-contacts
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 350px

  &-listing
    display: flex
    flex-direction: column
    width: 100%

  &__logo
    max-width: 195px
    max-height: 60px
    margin-bottom: 60px

  &__phone
    font-family: Russo One
    font-style: normal
    font-weight: normal
    font-size: 22px
    line-height: 27px
    color: $black

    &_code
      color: $orange

  &__address
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 13px
    color: $black

  &__map
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 13px
    color: $blue
    text-decoration-line: underline

  &__title
    margin-bottom: 20px
    text-transform: uppercase
    font-family: Russo One
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 18px
    color: $black

.listing

  &-wrapper
    display: flex
    justify-content: space-around
    margin-bottom: 30px

  &__item
    font-family: Roboto
    font-style: normal
    font-weight: 300
    font-size: 13px
    line-height: 28px
    color: $dark_grey
    text-transform: none

.copyright
  font-family: Roboto
  font-style: normal
  font-weight: 300
  font-size: 13px
  line-height: 28px
  color: $grey
  padding-left: 38px
