.searchmobile
  position: fixed
  top: 40px
  bottom: 0
  right: 0
  left: 0
  z-index: 15

  &-wrapper
    margin-top: 30px

  &-item

    &-wrapper
      padding-right: 0.625rem
      padding-left: 0.625rem

  //изменения в блоке header
@media screen and ( max-width: 740px )

  .navigation, .info-wrapper, .searchbar
    display: none

  .header
    padding-bottom: 10px
    position: sticky
    top: 0
    z-index: 99

  .logo
    position: relative

    &-wrapper
      align-items: center
      justify-content: space-between
      margin-top: 0
      padding-top: 10px

    &-image
      width: 100px
      height: 30px

    &-mobile
      cursor: pointer

    &-line
      display: block
      background-color: $black
      width: 20px
      height: 1px
      margin-bottom: 7px

    &-end
      margin-bottom: 0

    &-search
      display: block
      width: 18px
      height: 18px
      text-align: center
      margin-bottom: 5px

      &-image
        width: 18px
        height: 18px

      &-visible
        position: absolute
        z-index: 10
        top: 0
        bottom: 0
        right: 0
        left: 0
        display: flex
        align-items: center
        justify-content: space-between
        background-color: $white
        padding: 0 15px

      &-reset
        display: none

      &-input
        display: none
        margin-bottom: 0
        border: none
        outline: none
        box-shadow: none
        width: 80%

        &::placeholder
          font-family: Roboto
          font-style: normal
          font-weight: normal
          font-size: 11px
          line-height: 13px
          color: $black

        &:hover, &:focus
          border: none
          outline: none
          box-shadow: none

//мобильный подвал при открытии мобильного меню
.footer

  &-mobile

    &-listing

      &-item
        font-weight: 500
        font-size: 13px

  &__mobile

    &__listing

      &__wrapper
        display: flex
        justify-content: space-between
        padding-top: 40px
        padding-bottom: 40px
        background-color: $white

    &__contacts
      background-color: $white
      padding-bottom: 40px

  //появление мобильной кнопки "вверх

  .scroll

    &-arrow
      position: fixed
      bottom: 0
      right: 15px
      text-align: center
      display: block
      padding-top: 5px
      width: 50px
      height: 50px
      border-radius: 50%
      background-color: $orange
      border: 6px solid $white
      z-index: 99

    &-img
      width: 12px
      height: 6px
