.rich

  &-wrapper
    display: flex
    flex-direction: column
    width: 70%

  &-video
    position: relative
    width: 100%
    height: 500px

  &-video iframe
    position: absolute
    width: 100%
    height: 500px
    border: none

  &-text
    font-family: Roboto
    font-style: normal
    font-weight: 300
    font-size: 15px
    line-height: 26px

  &-section

    &__title
      font-family: Russo One
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 24px
      text-transform: uppercase

    &__subtitle
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 26px

    &__list

      &__item
        font-family: Roboto
        font-style: normal
        font-weight: 300
        font-size: 15px
        line-height: 16px
